{% extends 'main/base.html' %}

{% block title %}Все заказы{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
{% endblock %}

{% block content %}
<div class="table-wrapper">
   <table class="fl-table">
      <thead>
      <tr>
         <th>Преподаватель</th>
         <th>Тема</th>
         <th>Student</th>
         <th>Действия</th>
      </tr>
      </thead>
      <tbody>

      {% for post in posts %}
      <tr>
         <td>{{ post.teacher }}</td>
         <td>{{ post.subject }}</td>
         <td>{{ post.student }}</td>
         <td>
            <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-sm btn-secondary">
               <span class="fa fa-edit">edit</span>
            </a>
            <a href="#" class="btn btn-sm btn-danger">
               <span class="fa fa-trash">remove</span>
            </a>
         </td>
      </tr>
      {% endfor %}
      <tbody>
   </table>
</div>

{% endblock %}

{% block script %}
   <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
{% endblock %}