<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
  <div class="col mb-3">
    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <img class="header__logo" src="{{ url_for('static', filename='img/logo.png') }}">
    </a>
    <p class="text-body-secondary">© 2024</p>
  </div>

  <div class="col mb-3">

  </div>

  <div class="col mb-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="{{ url_for('brand.show_brand') }}" class="nav-link p-0 text-body-secondary">Бренды</a></li>
      <li class="nav-item mb-2"><a href="{{ url_for('enterprise.show_enterprise') }}" class="nav-link p-0 text-body-secondary">Компании по доставке</a></li>
      <li class="nav-item mb-2"><a href="{{ url_for('product.show_product') }}" class="nav-link p-0 text-body-secondary">Список товаров</a></li>
      <li class="nav-item mb-2"><a href="{{ url_for('order.show_order') }}" class="nav-link p-0 text-body-secondary">Список заказов</a></li>
      <li class="nav-item mb-2"><a href="{{ url_for('delivery.show_delivery') }}" class="nav-link p-0 text-body-secondary">Список доставок</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="{{ url_for('brand.create_brand') }}" class="nav-link p-0 text-body-secondary">Добавить бренд</a></li>
      <li class="nav-item mb-2"><a href="{{ url_for('enterprise.create_enterprise') }}" class="nav-link p-0 text-body-secondary">Добавить компанию по доставке</a></li>
      <li class="nav-item mb-2"><a href="{{ url_for('product.create_product') }}" class="nav-link p-0 text-body-secondary">Добавить товар</a></li>
    </ul>
  </div>

</footer>
